.register {
  margin-top: 20px;
  padding: 0 2rem;
  text-align: left;
  &__form {
    width: 100%;
    .buttonContainer {
      margin-top: 2rem;
      &__button {
        min-width: 150px;
        &__icon {
          padding-right: 10px;
        }
      }
    }
  }
}